@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(75, 64, 64);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 15px;

}
h2 i {
    color: rgb(255, 255, 255);
}

h3 {
    color: rgb(255, 255, 255);
}

#titulo-principal {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-top: 0;
    text-align: center;
}


.header {
    background-color: bisque;
    padding: 40px;
    margin-bottom: 40px;
}

.header img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 150px;
}

.card {
    padding: 20px;
    margin-right: 20px;
    min-width: 100%;
}

.lista {
    margin: 0;
    padding: 0;
}

.lista > li {
    list-style: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    margin-bottom: 15px;
  }
  .skill .skill-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .skill .progress {
    height: 10px;
    background-color: #643434;
  }
  .skill .progress.percentage {
    transition: width 2s ease;
    width: 0;
    background-color: rgb(255, 255, 255);
    animation-name: progress-bar;
    animation-duration: 3s;
  }
  
  .idioma {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .idioma .stars {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .idioma .stars li {
    list-style: none;
  }
  .idioma .stars li .fa-solid {
    color: rgb(255, 255, 255);
  }
  
  @keyframes progress-bar {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  
 
  @media only screen and (max-width: 600px) {
  
  }
  
  @media only screen and (min-width: 600px) {
  
  }
  
  @media only screen and (min-width: 768px) {
    .card {
      min-width: 500px;
    }
  }
  
  @media only screen and (min-width: 992px) {
  
  }
  
  @media only screen and (min-width: 1200px) {
  
  }
  